.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.file-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-name {
  margin-right: 30px;
}
#fileInput {
  margin-left: 30px;
}

mat-toolbar {
  position: fixed;
  overflow: auto;
  left: auto;
  height: 100%;
  display: flex;
  width: 66px;
  flex-direction: column;
}
mat-icon {
  font-size: 20px;
  top: 20px;
}

#stepper {
  position: fixed;
  overflow: auto;
  margin-left: 75px;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}
mat-button-toggle-group {
  display: flex;
  flex-direction: column;
}
